table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-typography {
  background-color: red;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a[class="icon"] {
  margin: 0px 10px;
}
.check {
  color: greenyellow;
  margin-left: 15px;
}
#filter {
  color: red !important;
}
mat-expansion-panel {
  box-shadow: none !important;
}
.contact-phones mat-form-field {
  width: 25% !important;
  margin-left: 35px;
}
.example-container {
  position: relative;
  width: 100%;
}
.example-table-container {
  position: relative;
  overflow: auto;
}
table {
  width: 100%;
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}
.mat-column-created {
  max-width: 124px;
}
.delete_phone {
  margin-left: 25px;
}
.phone_action_button {
  margin-bottom: 30px;
  margin-left: 30px;
}
.phone_action_button a {
  margin-left: 10px;
}
